<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDK Demo 首页</title>
    <!--<link rel="stylesheet" href="/commons/css/style.css">
    <link rel="stylesheet" href="/commons/css/component.css">-->
    <script src="commons/js/vue2.js"></script>
    <script src="commons/js/vue-resource.js"></script>
    <script src="http://sdk.yunhetong.com/sdk/api/yhtapi.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="http://sdk.yunhetong.com/sdk/api/m/yht.js" type="text/javascript" charset="utf-8"></script>-->
    <style>
        div {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div id="container">
    啦啦啦 这里是SDK 新接口的Demo呦
    <br/><br/>
    功能描述
    <div>
        {{ opt_description}}
    </div>
    服务端返回
    <div>
        {{ preResponse }}
    </div>
    <br/>
    生成的合同 id 是
    <div>{{ contractId }}</div>
    <br/>
    token 是
    <div> {{ token }}</div>
    解密后的消息 是
    <div> {{ notice }}</div>
    <br/>


    要操作用户 Token <input v-model="opt_token" type="text" placeholder="请输入用户Token">
    要操作的合同的id <input v-model="opt_contractId" type="text" placeholder="请输入合同id">
    要上传的文件 <input v-model="opt_file" type="file" placeholder="请选择上传文件">
    <br/>
    <button @click="getToken('A')">获取用户 A 的 Token</button>
    <button @click="getToken('B')">获取用户 B 的 Token</button>
    <button @click="getToken('C')">获取平台用户 的 Token</button>
    <button @click="createContract()">模板创建合同</button>
    <button @click="fileContract()">上传文件创建合同</button>
    <button @click="addActor()">添加参与者</button>
    <button @click="signContract()">合同签署</button>
    <button @click="invalidContract()">作废合同</button>
    <button @click="contractList()">查看合同列表</button>
    <button @click="contractDetail()">查看合同签署状态详情</button>
    <button @click="downloadContract()">下载合同</button>

    <br/>
    <button @click="addUser()">导入用户</button>
    <button @click="modifyCellNum">修改手机号</button>
    <button @click="modifyUserName">修改姓名</button>


</div>

</body>
<script type="text/javascript">

    new Vue({
        el: "#container",
        data: {
            helloWorld: "HelloWorld",
            token: "未设置",
            contractId: "还未创建合同",
            notice: "",
            preResponse: "",
            opt_contractId: "",
            opt_token: "",
            opt_backURL: "",
            opt_backPara: "",
            opt_file:null
        },
        computed: {
            opt_description: function () {
                return "这里是功能说明";
            }
        },
        methods: {
            getToken: function (user) {
                var vm = this;
                vm.$http.get('/token/getToken',{params: {user: user}}).then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    vm.token = body.value.token;
                });
            },
            createContract: function () {
                var vm = this;
                if (!vm.opt_token) {
                    alert("请输入要操作的用户token");
                    return;
                }
                vm.$http.post('/contract/templateContract', {token: vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    console.log(body);
                    vm.contractId = body.value.contractId;
                });
            },
            fileContract: function () {
                var vm = this;
                console.log(vm.opt_file);
                /*if (vm.opt_file == null) {
                    alert("请选择文件");
                    return;
                }*/
                if (!vm.opt_token) {
                    alert("请输入要操作的合同创建者的token");
                    return;
                }
                vm.$http.post('/contract/fileContract', {"file": vm.opt_file,"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            addActor: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                if (!vm.opt_token) {
                    alert("请输入要操作的合同创建者的token");
                    return;
                }
                vm.$http.post('/contract/addPartner', {"contractId": vm.opt_contractId,"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            signContract: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                if (!vm.opt_token) {
                    alert("请输入要操作的平台用户token");
                    return;
                }
                vm.$http.post('/contract/signContract', {"contractId": vm.opt_contractId,"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            invalidContract: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                if (!vm.opt_token) {
                    alert("请输入要操作的参与者用户的token");
                    return;
                }
                vm.$http.post('/contract/invalidContract', {"contractId": vm.opt_contractId,"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            contractList: function () {
                var vm = this;
                if (!vm.opt_token) {
                    alert("请输入要操作的平台用户token");
                    return;
                }
                vm.$http.post('/contract/contractList', {"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            contractDetail: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                if (!vm.opt_token) {
                    alert("请输入要操作的平台用户或者参与者用户的token");
                    return;
                }
                vm.$http.post('/contract/contractDetail', {"contractId": vm.opt_contractId,"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            downloadContract: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                if (!vm.opt_token) {
                    alert("请输入要操作的平台用户或者参与者用户的token");
                    return;
                }
                window.location.href = "/contract/downloadContract?contractId=" + vm.opt_contractId + "&token=" + vm.opt_token;
            },
            addUser: function () {
                var vm = this;
                vm.$http.get('/user/addUser').then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            modifyCellNum: function () {
                var vm = this;
                if (!vm.opt_token) {
                    alert("请输入要操作的用户token");
                    return;
                }
                vm.$http.post('/user/modifyCellNum', {"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            modifyUserName: function () {
                var vm = this;
                if (!vm.opt_token) {
                    alert("请输入要操作的用户token");
                    return;
                }
                vm.$http.post('/user/modifyUserName', {"token": vm.opt_token},
                    {emulateJSON: true}).then(function (response) {
                    vm.preResponse = response.body;
                });
            }


        }
    });

</script>
</html>